# High-level directories
data/*
opt/*
cache/*

*.DS_store
pipeline_walkthrough/*

scripts/test_results/
scripts/all_snps_varids.tmp
scripts/need_proxies_varid.tmp
scripts/combined_query_snp_list_grch37.txt
